body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    border-radius: 0.1rem;
    box-shadow: 0 0 14px #0003;
}

sup {
    font-size: .75rem;
    margin: 0;
}

.game {
    position: relative;
}

.controls {
    display: flex;
    flex-direction: column;
}

#accuracy {
    position: absolute;
    right: -8rem;
    bottom: 1rem;
    transform: none;
    text-align: left;
    transition-duration: 0.1s;
}

.audio-credit {
    display: flex;
    flex-direction: column;
    align-items: center;
}